{% extends 'home/main.html' %}

{% block question %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <div>				
 <a class="btn btn-default btn-lg" style="background: #50e5a0" href="{% url 'question_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
							</div>
       
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}